@{
    ViewData["Title"] = "Home Page";
}


<div class="card">
    <h5 class="card-header">AutoComplete</h5>
    <div class="card-body">

        <div class="row">
            <div class="col-sm-6">
                <label for="exampleInputEmail1" class="form-label">Buscar Producto</label>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="txtBuscar">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                </div>
            </div>

        </div>



        <div class="row">

            <div class="cl-sm-12">

                <table class="table table-bordered" id="tbproductos">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>


            </div>



        </div>


    </div>
</div>




@section Scripts{
                        
    <script>

        $(document).ready(function() {
        
            $("#txtBuscar").autocomplete({
            
                source: function(request,response){
                
                    $.ajax({
                        url: "@Url.Action("BusquedaProducto","Home")?busqueda=" + request.term,
                        dataType: "json",
                        success: function(data){
                            response(data)
                        }                                                        
                    });             
                },
                select:function(event,elemento){
                    $("#tbproductos tbody").append(
                        $("<tr>").append(

                            $("<td>").text(elemento.item.descripcion),
                            $("<td>").text(elemento.item.precio),
                            $("<td>").text(1),
                            $("<td>").text(elemento.item.precio * 1),                      
                        
                        )                                       
                    )               
                    
                    event.preventDefault();
                    $(this).val("");
                }
            })
        });

    </script>
                        
                        
}